<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net472" />
  <package id="Fody" version="4.2.1" targetFramework="net472" developmentDependency="true" />
  <package id="Mono.Options" version="6.6.0.161" targetFramework="net472" />
</packages>